<div class = "wrapper">
  <%= render "devise/shared/header" %>
    <div class = "sign_up_content">
        <h1>新規登録</h1>
      <div class = "sign_up_field">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

              <div class="field">
                <%= f.label :employee_num,"社員番号" %><br />
                <%= f.text_field :employee_num, class:"form-control", autofocus: true, maxlength: 6, placeholder:"※半角数字6桁" %>
              </div>
            <br>
            <b><%= f.label :last_name,"氏名" %></b>
            <div class = "name_field">   
                <%= f.text_field :last_name,  class:"form-control-last",autofocus: true, autocomplete: "family-name", placeholder: "姓"%>
                <%# <%= f.label :first_name,"" %>
                <%= f.text_field :first_name,  class:"form-control-first",autofocus: true, autocomplete: "given-name",placeholder: "名" %>
            </div> 
              <div class="field">
                <%= f.label :email,"メールアドレス" %><br />
                <%= f.email_field :email,  class:"form-control",autofocus: true, autocomplete: "email" %>
              </div>

              <div class="field">
                <%= f.label :password,"パスワード" %><br />
                <%= f.password_field :password,  class:"form-control",autocomplete: "new-password", placeholder:"※半角英数を含む6文字以上" %>
              </div>

              <div class="field">
                <%= f.label :password_confirmation,"パスワード(確認用)" %><br />
                <%= f.password_field :password_confirmation,  class:"form-control",autocomplete: "new-password",placeholder:"確認用" %>
              </div>
          

              <div class="actions">
                <%= f.submit "新規登録", class:"submit_btn" %>
              </div>
          <% end %>
      </div>
      <div class = "to-new-session">
      <%= link_to "アカウント登録済みの方はこちら", new_session_path(resource_name) %>
      </div>
    </div>  
  <%= render "layouts/footer" %>
</div>  