<header class='cars-header'>
  <div class="app-logo2">
    <%= link_to "CAR RAID", cars_path, method: :get  , class: "menu-link"%>
  </div>
  <ul class="menu-list">
    <li class="header-list"><%= link_to "在庫一覧", cars_path, method: :get  , class: "menu-link"%></li>
    <li class="header-list"><%= link_to "新規登録", new_car_path, method: :get  , class: "menu-link"%></li>
    <% if user_signed_in? %>
      <li class="header-list"><%= "#{current_user.last_name} #{current_user.first_name}" %></li>
      <li class="header-list"><%= link_to "ログアウト", destroy_user_session_path, method: :delete , class: "menu-link" %></li>
    <% end %>
  </ul>
</header>