<p>以下、一覧画像表示<p>

<% if user_signed_in? %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  <%= link_to "車両新規登録", new_car_path, method: :get %>
<% end %>

<% @cars.each do |c|%>
<table>
<tr>
  <td><%= image_tag c.images[0],:size =>'100x100'%></td>

  <td>
      メーカー：<%= c.maker.name%>
      車種名:<%= c.name %>
      年式：<%= c.model_year%><br>
      距離：<%= c.mileage%>km</%>
      車台番号：<%= c.car_code%>
      価格：<%= c.price%>円</%>
  </td>

  <td>
      所在地：<%= c.prefecture.name%><br>
      登録者：<%= c.user.last_name %><%= c.user.first_name %>
  </td> 

</tr>
</table>
<br>
<% end %>