<%= render "cars/header" %>
<%= stylesheet_link_tag "new_edit", "data-turbo-track": "reload" %>

<%= form_with model: @car, id: 'new_car' ,local: true do |f| %>
<div class="form_main">



<%# <div class="image_post">
      <!-- プレビュー領域 -->
      <!-- プレビュー画像はここに表示されます -->
      <div id="image-preview-container"></div>
<br>
<div class="up_btn">
        <!-- アップロードボタン -->
        <%= f.file_field :images, name:'car[images][]', data: {index: 0},id: "image-upload", multiple: true %>
<%# </div>
</div>  %>
      <%# 商品画像 %>
      <div class="image_post">
        <div class="click-upload">
          <div id="previews"></div>
          <br>
          <div class="up_btn">
          <label for="car_images" class="custom-file-label">ファイルを選択</label>
        <%= f.file_field :images, name: 'car[images][]', data: { index: 0 }, class:'custom-file-input',multiple: true %> 
        <p>(最大6枚まで登録可能)</p>
          </div>
        </div>
      </div>



    <br>
    <!--　登録情報入力-->
    <div class="registration_screen">
      <div class="reft_registration">
        <div>
          <div class="item">メーカー</div>
          <%= f.collection_select(:maker_id, Maker.all, :id, :name, {},  {class:"select-box", id:"item-maker"}) %>
        </div>
        <br>
        <br>
        <div>
        <div class="item">車種</div>
        <%= f.text_field :name, class:"items-text", id:"item-name", placeholder:"車種名（必須 10文字まで)", maxlength:"25" %>
        </div>


        <br>
        <br>
        <div>
          <div class="item">都道府県(所在地)</div>
          <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {},  {class:"select-box", id:"item-prefecture"}) %>
        </div>
        <br>
        <br>
        <div>
          <div class="item">カラー</div>
          <%= f.collection_select(:color_id, Color.all, :id, :name, {},  {class:"select-box", id:"item-maker"}) %>
        </div>
      </div>


      <div class="right_registration">
        <div class="input_one_box">
          <div>
              <div class="item">年式</div>
              <div class="registration_box">
              <%= raw sprintf(
                      f.date_select(
                        :model_year,
                        class:'select-year',
                        id:"model_year",
                        use_month_numbers: true,
                        discard_day: true,  
                        prompt:'--',
                        start_year: (Time.now.year),
                        end_year: 1989,
                        date_separator: '%s'),
                      "<p> 年 </p>") + "<p> 月 </p>" %> 
            </div>
          </div>
          <div>
              <div class="item">車検日</div>
              <div class="registration_box">
              <%= raw sprintf(
                f.date_select(
                  :car_inspection,
                  class: 'select-year',
                  id: 'car_inspection',
                  use_month_numbers: true,
                  prompt: '--',
                  start_year: Time.now.year,
                  end_year: 1989,
                  date_separator: '%s'),
                "<span>年</span>","<span>月</span>" )+ "<span>日</span>"%>
            </div>
          </div>
        </div>
        <br>
        <div class="input_two_box">
          <div class="mileage_registration">
              <div class="item">走行距離</div>
              <div class="registration_box">
                <%= f.text_field :mileage , class:"items-text", id:"item-info", placeholder:"走行距離入力",maxlength:"15" %>
                <div>km</div>
              </div>
          </div>
          <div class="wheel_drive__registration">
              <div class="item">駆動方式</div>
              <div class="registration_box">
                <%= f.collection_select(:wheeldrive_id, Wheeldrive.all, :id, :name, {},  {class:"select-box", id:"item-prefecture"}) %>
              </div>
          </div>
          <div class="t">
              <div class="item">タグ</div>
              <div class="registration_box">
                <%= f.collection_select(:tag_id, Tag.all, :id, :name, {},  {class:"select-box", id:"item-prefecture"}) %>
              </div>
          </div>
        </div>
        <br>
        <div class="input_three_box">
          <div class="displacement_registration">
              <div class="item">排気量</div>
              <div class="registration_box">
                <%= f.text_field :displacement , class:"items-text", id:"item-info", placeholder:"排気量入力",maxlength:"10" %>
                <div>cc</div>
              </div>
          </div>
          <div class="car_fuel__registration">
              <div class="item">燃料</div>
              <div class="registration_box">
                <%= f.collection_select(:fuel_id, Fuel.all, :id, :name, {},  {class:"select-box", id:"item-prefecture"}) %>
              </div>
          </div>
        </div>
        <br>
  
        <div class="input_four_box">
          <div class="car_code_registration">
              <div class="item">車台番号</div>
              <div class="registration_box">
                <%= f.text_field :car_code , class:"items-text", id:"item-info", placeholder:"車台番号入力",maxlength:"20" %>
              </div>
          </div>
          <div class="price__registration">
              <div class="item">価格</div>
              <div class="registration_box">
                <%= f.text_field :price , class:"price-text", id:"item-info", placeholder:"価格入力",maxlength:"10" %>
                <div class="unit">万円</div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!--　登録情報入力-->
    <div class="registration_btn_box">
      <%= f.submit "登録する" ,class:"registration_btn" %>
    </div>
</div>
<!--　登録フォーム全体-->
<% end %>
<%= render "layouts/footer" %>
