<%= render "cars/header" %>

<div class="index_container">

  <!--サイドバー-->
  <div class="side_bar">
    <div class="side_bar_wrapper">
      <div class="side-title">都道府県</div>
      <% Prefecture.all.group_by(&:region).each do |region, prefectures| %>
        <% next if region == '---' %>
        <div class="region" id="<%= region %>">
          <h2><%= "#{region} (#{Car.where(prefecture_id: prefectures.map(&:id)).count})" %></h2>
          <div class="prefectures" id="<%= region %>-prefectures" style="display:none;">
            <% prefectures.each do |prefecture| %>
              <%="　#{prefecture.name} (#{Car.where(prefecture_id: prefecture.id).count})"%><br>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <!--サイドバー-->

  <div class="index_main_wrapper">

    <!--以下検索欄ー-->
      <%= render "cars/search" %>
    <!--以上検索欄ー-->

      <!--以下一覧表示画面-->
      <h3 class="index_headline"><%="検索結果 #{@search_results.count}件"%></h3>

      <div class="search_results">
        <% if @search_results.present? %>
          <% @search_results.each do |car|%>
            <div class="car_item">
              <%= image_tag car.images[0], class:"car_img"%>
              <div class="car_info">
                <%= "#{car.model_year.strftime("%Y年式")}#{car.maker.name}"%>
                <div class="car_info_main">
                  <div class="car_item_name">
                    <%= "#{car.name}" %>
                  </div>
                  <div class="car_item_price">
                    <%= car.price %>万円
                  </div>
                </div>
                <div class="car_info_sub">
                  距離：<%= car.mileage.to_s(:delimited)%>km<br>
                  車台番号：<%= car.car_code%><br>
                  所在地：<%= car.prefecture.name%><br>
                  更新日：<%= car.created_at.strftime("%Y年%m月%d日")%>
                </div>
                <div >
                  <%= link_to "詳細画面", car_path(id: car.id), method: :get ,class:"car_info_link"%>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
        <h2 class="search_failed">検索項目に該当する結果はありませんでした</h2>
        <% end %>
      </div>
    <!--以上一覧表示画面-->

  </div>

</div>

<%= render "layouts/footer" %>