<%= render "cars/header" %>

<div class="show-container">
  <div class="show-wrapper">
    <div class="headline">
      <%= "#{@car.model_year.strftime("%Y年式")} #{@car.maker.name} #{@car.name}" %>
      <% if @car.tag.name == "新着"%>
          <div class ="show_tag_2"><%= @car.tag.name %></div>
        <% elsif @car.tag.name == "売り切り"%>
          <div class ="show_tag_3"><%= @car.tag.name %></div>
        <% elsif @car.tag.name == "長期在庫"%>
          <div class ="show_tag_4"><%= @car.tag.name %></div>
        <% elsif @car.tag.name == "陸送中"%>
          <div class ="show_tag_5"><%= @car.tag.name %></div>
        <% elsif @car.tag.name == "抹消済み"%>
          <div class ="show_tag_6"><%= @car.tag.name %></div>
        <% elsif @car.tag.name == "自社名中"%>
          <div class ="show_tag_7"><%= @car.tag.name %></div>
        <% elsif @car.tag.name == "廃車"%>
          <div class ="show_tag_8"><%= @car.tag.name %></div>
        <% elsif @car.tag.name == "事故車"%>
          <div class ="show_tag_9"><%= @car.tag.name %></div>
      <% end %> 
    </div>
    <%= image_tag @car.images[0], class:"preview-main-img", id:"main-image"%>

    <div class="img-list">
      <%= image_tag @car.images[0], class:"preview-img" if @car.images[0].present?%>
      <%= image_tag @car.images[1], class:"preview-img" if @car.images[1].present?%>
      <%= image_tag @car.images[2], class:"preview-img" if @car.images[2].present?%>
      <%= image_tag @car.images[3], class:"preview-img" if @car.images[3].present?%>
      <%= image_tag @car.images[4], class:"preview-img" if @car.images[4].present?%>
      <%= image_tag @car.images[5], class:"preview-img" if @car.images[5].present?%>
    </div>

    <table class="car-detail">
      <tr>
        <td class="item-name">年式：</td>
        <td><%= @car.model_year.strftime("%Y年%m月") %></td>
        <td class="item-name">価格：</td>
        <td><%= "#{@car.price}万円" %></td>
      </tr>
      <tr>
        <td class="item-name">車検日</td>
        <td><%= @car.car_inspection.strftime("%Y年%m月%d日") %></td>
        <td class="item-name">車台番号：</td>
        <td><%= @car.car_code%></td>
      </tr>
      <tr>
        <td class="item-name">所在地：</td>
        <td><%= @car.prefecture.name%></td>
        <td class="item-name">排気量</td>
        <td><%= "#{@car.displacement}cc" %></td>
      </tr>
      <tr>
        <td class="item-name">距離：</td>
        <td><%= @car.mileage %>km</td>
        <td class="item-name">燃料</td>
        <td><%= @car.fuel.name %></td>
      </tr>
      <tr>
        <td class="item-name">駆動方式</td>
        <td><%= @car.wheeldrive.name %></td>
        <td class="item-name">外装色</td>
        <td><%= @car.color.name %></td>
      </tr>
      <tr>
        <td class="item-name">登録日</td>
        <td><%= @car.created_at.strftime("%Y年%m月%d日")%></td>
        <td class="item-name">在庫日数</td>
        <td><%= (Time.zone.now - @car.created_at).to_i / 1.day %></td>
      </tr>
      <tr>
        <td class="item-name">登録者</td>
        <td><%= @car.user.last_name%><%= @car.user.first_name %></td>
        <td class="item-name">最終更新者</td>
        <td><%= User.find(@car.editer_id).last_name %><%= User.find(@car.editer_id).first_name %></td>
      </tr>
    </table>

    <div class="show-buttons">
      <%= link_to "編集", edit_car_path(id: @car.id), method: :get, id:"edit-button" %>
      <%= link_to "削除", car_path(id: @car.id), data: { turbo_method: :delete }, id: "delete-button" %>
    </div>

  </div>
</div>

<%= render "layouts/footer" %>
